.Rproj.user
.Rhistory
.RData
.ipynb*
_publish.R

_book
_bookdown_files
profile*
HarvardX-LendingClub.Rmd

rsconnect
*.log
*.swp
*.tex
*.ods#
/*.nb.html


scratchpad.*

/build
/OLD
/Research
/NOT-repoed
*_cache
*_files

datasets/simplemaps_uszips_basicv1.6
datasets/lending_club.csv
datasets/lending_club.sqlite.zip
datasets/lending_club.sqlite
datasets/LendingClub.csv.gz
datasets/lending_club_reformatted.rds
datasets/lending_club_reformatted_paid.rds
datasets/LoansWorkingSet.rds
