.Rproj.user
.Rhistory
.RData
_publish.R

_book
_bookdown_files
*_cache
*_files

rsconnect
*.log
*.tex
*.ods#

Research
old

scratchpad.*

datasets/simplemaps_uszips_basicv1.6
datasets/lending_club.csv
datasets/lending_club.rds
datasets/lending_club.sqlite
datasets/lending_club_reformatted.rds
datasets/lending_club_reformatted_paid.rds

